:root {
    --main-text-color: white;
    --logo-width: 194px;
    --logo-height: 178px;
    --minFontSize: 24px;
    --maxFontSize: 48px;
    --font-regular: 700;
    --font-bold: 400;
  }

body {
    background-color: #e5f6ee;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Metropolis', sans-serif;
    font-weight: var(--font-regular);
}

strong, .bold {
  font-weight: var(--font-bold);
}

.hd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: 10px;
  gap: 2rem;
}

.hd-ppc {
  display: flex;
  flex-direction: column;
  background-color: #00ae66;
  padding: 2%;
  width: 60vw;
  gap: 0;
}

.hd-ppc__title {
  display: flex; 
  flex-direction: row;
}

.hd-ppc__subtitle {
  margin-top: -3rem;
  color: var(--main-text-color) ;
}

.hd-ppc__title_text {
  flex-grow: 4;
}

.hd-title {
  display: flex;
  background-color: #00ae66;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}

.container-selects {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.container-selects__select {
  padding: 0 2% 0 2%;
  width: 60vw;
}

.container-selects__respuesta {
  display: none; 
  padding: 1% 2% 1% 2%; 
  width: 56vw;
}

.logo {
  width: var(--logo-width);
  height: var(--logo-height);
  transform: translateX(3rem);
}

.hd-ppc-text {
  --scaler: 10vw;
  line-height: 1.2;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
  color: var(--main-text-color);
}

.hd-ppc-subtext {
  --scaler: 10vw;
  font-size: clamp( (var(--minFontSize) * 0.5 ), var(--scaler), (var(--maxFontSize) * 0.5) );
}

@media (max-width: 576px) {
  :root{
    --logo-width: 140px;
    --logo-height: 120px;
    --minFontSize: 18px;
    --maxFontSize: 36px;
  }

  .logo{
    transform: translateX(2rem);
  }

  .hd-ppc{
    width: 90vw;
  }

  .hd-ppc-text {
    word-wrap: break-word;
    white-space: wrap;
  }

  .hd-ppc-subtext{
    --scaler: 5vw;
    font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
  }

  .hd-ppc__subtitle {
    margin-top: 0rem;
  }

  .container-selects__select {
    width: 90vw;
  }

  .container-selects__respuesta {
    width: 86vw;
  }
}

@media (max-width: 361px) {
  .logo{
    transform: translateX(-1rem);
  }
}

@media (min-width: 362px) and (max-width: 374px){
  .logo{
    transform: translateX(0.3rem);
  }
}

@media (min-width: 375px) and (max-width: 390px){
  .logo{
    transform: translateX(0.5rem);
  }
}

@media (min-width: 577px) and (max-width: 1280px) {
  :root{
    --logo-width: 170px;
    --logo-height: 150px;
    --minFontSize: 22px;
    --maxFontSize: 40px;
  }

  .logo{
    transform: translateX(2.5rem);
  }

  .hd-ppc{
    width: 90vw;
  }

  .hd-ppc-text {
    word-wrap: break-word;
    white-space: wrap;
  }

  .hd-ppc__subtitle {
    margin-top: 0rem;
  }

  .container-selects__select {
    width: 90vw;
  }

  .container-selects__respuesta {
    width: 86vw;
  }
}
