:root {
    --main-text-color: white;
    --logo-width: 322;
    --logo-height: 322px;
    --minFontSize: 24px;
    --maxFontSize: 48px;
    --font-regular: 700;
    --font-bold: 400;
  }


body {
    background-color: #e5f6ee;
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: 'Metropolis', sans-serif;
    font-weight: var(--font-regular);
}

.form-select option{
  font-family: 'Metropolis', sans-serif !important;
}

strong, .bold {
  font-weight: var(--font-bold);
}

.hd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hd-ppc {
  display: flex;
  flex-direction: column;
  background-color: #00ae66;
  padding: 2%;
  width: 75vw;
  gap: 0;
}

.hd-ppc__title {
  display: flex; 
  flex-direction: row;
  align-items: center;
}

.hd-ppc__subtitle {
  color: var(--main-text-color) ;
}

.hd-ppc__title_text {
  flex-grow: 4;
}

.hd-title {
  display: flex;
  background-color: #00ae66;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: row;
}

.container-selects {
  display: flex;
  flex-direction: column;
  width: 100vw;
  align-items: center;
}

.container-selects__select {
  padding: 0 2% 0 2%;
  width: 75vw;
}

.container-selects__respuesta {
  display: none; 
  padding: 1% 2% 1% 2%; 
  width: 70vw;
}

.logo {
  width: 10%;
  height: 10%;
  min-height: 64px;
  min-width: 64px;
  max-width: 100px;
  max-height: 100px;

}

.hd-ppc-text {
  --scaler: 10vw;
  line-height: 1.2;
  font-size: clamp( var(--minFontSize), var(--scaler), var(--maxFontSize) );
  color: var(--main-text-color);
}

.hd-ppc-subtext {
  --scaler: 10vw;
  font-size: clamp( (var(--minFontSize) * 0.5 ), var(--scaler), (var(--maxFontSize) * 0.5) );
}

.hd-ppc__title_text_p1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  /* Media Query para pantallas pequeñas */
  @media (max-width: 768px) {
    .hd-ppc-text {
        order: 2; 
    }
    .hd-ppc__title_text_p1{
      flex-direction: column;
    }
    .logo{
      margin: 1rem;
    }
    .hd-ppc{
      width: 90vw;
    }
  
  }